
@mixin changeCols($col, $fr) {
    grid-template-columns: repeat($col, $fr);
}

@mixin imgFit{
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height:auto;
}

@mixin grid-row-start ($row_start) {
    grid-row-start: $row-start;
}
@mixin grid-row-end ($row-end){
    grid-row-start: $row-end;
}
@mixin grid-column-start ($column-start)    {
    grid-column-start: $column-start;
}
@mixin grid-column-end ($column-end)    {
    grid-column-start: $column-end;
}
