nav {
    background-color: $orange;
    box-shadow: 1px 4px;

    a {
        display: inline-block;
        text-align: center;
        font-size: 28px;
        width: 15%;
        padding: 20px;
        text-decoration: none;
    }
}
